img {
    max-height: 200px;
}

.item {
    float: left;
    margin: 5px;
}

input {
    margin: 10px;
}

.btn-info {
    margin: 1px;
}

.form-group {
    background-color: #534ED1;
    color: white;
    padding: 10px;
}

p {
    color: white;
    background-color: black;
}

.col-lg-9, .col-lg-3 {
    margin-top: 20px;
}

.col-lg-3 {
    text-align: center;
}

#artist-form {
    position: relative;
    right: -500px;
}